<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Single Flower</title>
    {% load static %}	
    <link rel="stylesheet" type="text/css" href="{% static 'css\new_arrivals.css'%}">
    <link rel="icon" href="{% static 'Images\common_imgs\orders-basket-icon.png'%}">
  </head>
  <body>
    <div id="container">
      <header>
        <img class="logo" src="{% static 'Images\common_imgs\logo.png'%}" alt="logo">
        <nav>
          <ul>
              <li> <a href="new_arrivals"> New Arrivals</a></li>
              <li><a href="top_ten"> Best Sellers</a></li>
              <li><a href="all_flowers"> All flowers</a></li>
              <li> <a href="about_us"> About Us</a></li>
          </ul>
          </nav>
        <div class="icons">
            <a  href="/recognize_me/login"><img class="profile-icon" src="{% static 'Images\common_imgs\profile-icon.png'%}" alt="profile-icon"></a>
            <a href="/my_orders_list"><img class="orders-basket-icon" src="{% static 'Images\common_imgs\orders-basket-icon.png'%}" alt="orders-basket-icon"></a>
            <a href="/"><img class="home" src="{% static 'Images\common_imgs\home.png'%}" alt="home"></a>
        </div>
    </header>



    <img class="banner" src="{% static 'Images\common_imgs\new arrivals.jpg'%}" alt="top_ten">


    {% for product in products_list %}
      
    <div class="card">
      <img src="{{ product.product_image }}"   alt={{ product.name }} style="width:100%">
      <h1>{{ product.name }}</h1>
      <p class="price">₪{{ product.price }}</p>
      <p><a href="book_now/{{ product.id }}"> <button type="button">Book Now !</button></a></p>      
    </div>
    
  {% endfor %}




      <div class="footer_images">
        <img class="right-footer" src="{% static 'Images\homepage\right-footer-part.png'%}" alt="right-footer-part">
        <img class="left-footer" src="{% static 'Images\homepage\left-footer-part.png'%}" alt="left-footer-part">
      </div>
    </div>
    <div class="footer_bar">
      <p>Copyright @Imas Zubaidia</p>
    </div>
  </body>
</html>